body {
    background-color: bisque;
    background-repeat: round;
    margin-top: 122px;
    margin-bottom: 100px;

}

div {

    background-color: rgb(252, 237, 237);
    width: 750px;
    margin: auto;
    border: 1px solid black ;
    border-radius: 25px;
    text-align: center;


}
nav {
    display: flex;
  }
  .sidenav {
    height: 60%;
    padding-top: 8px;
    width: 15%;
    position: fixed;
  z-index: 1;
    top: 125px;
    left: 0;
    background-image: url(new11.jpg);
   /* background-color: rgb(13, 57, 99);*/
    overflow-x: hidden;
    text-align: left;
  }
  
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #0a0a0a;
    display: block;
    font-weight: bolder;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  @media only screen and (max-height: 450px) {
    .sidenav {
      padding-top: 15px;
      height: 93.5%;
    }
    .sidenav a {
      font-size: 18px;
    }
  }
div {

    background-color: #e5e2e2;
    width: 850px;
    margin: auto;
    border: 1px solid black ;
    border-radius: 25px;
}

div #after_submit {
    background-color: rgb(13, 57, 99);
    font-size: larger;
    font-style: inherit;

}

h1{
    color: red;
}
.ofo_txt{
    position: absolute;
    margin: 38px 0 0 7%;
    font-size: 36px;
    font-family: emoji;
    color: maroon;
  }
div #after_submit #number_correct {
    color: red;
}

.header_wrapper{
    width: 100%;
    height: 125px;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(to right, #ff9800c7 55%, yellow);
   z-index: 10;
  }
  .feast_logo{
    width: 125px;
    float: right;
  }
footer{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40px;
    background-image: linear-gradient(to right, #ff9800c7 70%, yellow);
    z-index: 10;
  }

   
  .copyright_text{
    position: absolute;
    color: maroon;
    opacity: 0.8;
    font-size: 20px;
    top: 10px;
    left: 55px;
    font-family: emoji;
    font-weight: bold;
  }
  
  .social_site_icons{
    width: 100px;
    position: absolute;
    right: 0;
    top: 10px;
  }
  
  .social_site_icons img{
    width: 20px
  }